---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AboutHome from '../components/AboutHome.astro';
import IntroSection from '../components/IntroSection.astro';
import BenefitsSection from '../components/BenefitsSection.astro';
import PlatformsSection from '../components/PlatformsSection.astro';
import FAQ from '../components/FAQ.astro';
import Blog from '../components/Blog.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import { getPosts } from '../lib/wordpress';
import '../styles/globals.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const posts = await getPosts();
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet" />
	</head>
	<body class="antialiased transition-colors duration-300">
		<Header />
		<main>
			<Hero />
			<AboutHome />
			<IntroSection />
			<BenefitsSection />
			<PlatformsSection />
			<FAQ />
			<Blog posts={posts} />
			<CTA />
		</main>
		<Footer />
	</body>
</html>
